<div class='signup-partial auth-container'>

  <div class="title">
    <h2>Sign Up</h2>
  </div>

  <div class='userInput'>
    <form name="signupForm" ng-submit='signup()' novalidate>
      <input class='typeArea' type='text' ng-model='user.username' placeholder='Username' ng-minlength="4" required>

      <input class='typeArea' type="password" ng-model='user.password' placeholder='Password' ng-minlength="4" required>

      <input class='typeArea' type="email" ng-model='user.email' placeholder='Email' ng-minlength="4" required>

      <center>
        <button class='buttonInput button' type='submit' ng-disabled="signupForm.$invalid">Sign Up</button><br>
        <a class="linkText" ui-sref="login">Already have an account? <strong>Login</strong></a>
      </center>
    </form>

  </div> <!-- end userInput -->

</div> <!-- end signup partial  -->
