  <div class='rsvp userInput'>

    <div class="close" ng-click="returnToMap()"><i class="fa fa-caret-left"></i></div>

    <div class='court-name'> {{scheduleInfo.name}} </div>
    <div class='court-address'> {{scheduleInfo.address}} </div>

    <form class='rsvpForm' name='rsvpForm' ng-submit='addRsvp()' novalidate>

      <div>Enter Date<input type='date' ng-model='rsvp.date' placeholder='Enter Date' class='inputDate' required/></div>
      <div>Start Time<input type='time' ng-model='rsvp.starttime' placeholder='Start Time' class='inputStartTime' required/></div>
      <div>End Time<input type='time' ng-model='rsvp.endtime' placeholder='End Time' class='inputEndTime' required/></div>
      <button class='button' type='submit' ng-disabled="rsvpForm.$invalid">SUBMIT</button>
    </form>

  </div> <!-- end rsvp-submit -->