  <div class='rsvp userInput'>

    <div class='court-name'> {{scheduleInfo.name}} </div>
    <div class='court-address'> {{scheduleInfo.address}} </div>

    <form class='rsvpForm' name='rsvpForm' ng-submit='addRsvp()' novalidate>

      <input type='date' ng-model='rsvp.date' placeholder='Enter Date' class='inputDate' required/>
      <input type='time' ng-model='rsvp.starttime' placeholder='Start Time' class='inputStartTime' required/>
      <input type='time' ng-model='rsvp.endtime' placeholder='End Time' class='inputEndTime' required/>
      <button class='button' type='submit' ng-disabled="rsvpForm.$invalid">SUBMIT</button>
    </form>

  </div> <!-- end rsvp-submit -->